<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/7458edbd11a837dd.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>{{error_msg}}</h1>
    </div>
    {{>footer}}
</body>

</html>
