<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/7458edbd11a837dd.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/7458edbd11a837dd.jpeg">
        <p>This application fetches data from weather stack and mapbox to get the forecast</p>
    </div>
    {{>footer}}
</body>

</html>
