<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/7458edbd11a837dd.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{help_msg}}</p>
    </div>
    {{>footer}}
</body>

</html>
